/* CSS Document */

body {
	width: 80vw;
	min-width: 55rem;
}

header {
	width: 80vw;
} 

img {
	display: none;
}
 
h1 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1em;
}

.top {
	padding-top: 2em;
}

.line {
	padding-top: 1em;
}

.bold {
	font-weight: bold;
}

.left {
	padding-right: 1%;
	float: left;
	text-align: right;
	vertical-align: top;
	width: 29%;
}

.clear {
	clear: both;
}

.left h2 {
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: normal;
}

.left h3 {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: normal;
}

.right, .line {
	float: right;
	width: 70%;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}

.right h2 {
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: normal;
}

.right h3 {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: normal;
}

.right p, .right table {
	font-family: sans-serif;
	font-size: 1em;
	color: black;
}

.right table {
	width: 100%;
	outline-style: solid;
	outline-width: thin;
}

.right th, .right td  {
	text-align: center;
	padding: 0.3em;
	outline-style: solid;
	outline-width: thin;
}

dl {
	font-family: sans-serif;
	font-size: 0.9em;
}

dt {
	font-weight: bold;
}


